/**** prepared colors *****/

*{
    -primary-color-light:#CCCCCC;
    -primary-color-dark:#666666;
    -highlight-color:#3b9be1;
    -light-gray:#A9A9A9;
    -dark-gray:#333333;
    -super-light-gray:#F2F2F2;
    -tab-button-hover:#E0E0E0;
    -fx-darkest-grey-color: #323232;

            /**COMBO BOX**/
    	-fx-primary-color: #007acc;
    	-fx-secondary-color: #4B6EAF;
    	-fx-grey-color: #b9b9b9;
    	-fx-focus-color: -fx-secondary-color;
}

/***** PROPERTIES PANE *****/
.properties_pane{
    -fx-background-color: -primary-color-light;
    -fx-background-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

.properties_pane HBox Label{
    -fx-padding: 5 5 5 5;
}

.properties_pane Label{
    -fx-text-fill: -dark-gray;
}

.properties_pane TextField{
    -fx-background-color: -super-light-gray;
    -fx-background-radius: 5;
}

.properties_pane HBox{
    -fx-spacing: 10;
}

.properties_pane .invalid{
    -fx-background-color: #EEB6B6;
}

.properties_pane .changed{
    -fx-background-color:  #C7EEB6;
}

/** PROPERTIES PANE CHECK BOX**/
.properties_pane CheckBox .box {
	-fx-background-color: -super-light-gray;
	-fx-border-color: transparent;
	-fx-border-radius: 5;
	-fx-background-radius:5;
}
.properties_pane CheckBox .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.properties_pane CheckBox:selected .mark {
	-fx-background-color: -super-light-gray;
}
.properties_pane CheckBox:selected .box {
	-fx-background-color: -light-gray;
}

/** PROPERTIES PANE _ COMBO BOX **/
.combo-box-base {
	-fx-background-color: -super-light-gray;
	-fx-background-radius: 5;
}
.combo-box-base:hover {
	-fx-background-color: -light-gray;
}
.combo-box-base:disabled {
	-fx-background-color: -fx-grey-color;
}
.combo-box .list-cell {
	-fx-text-fill: -dark-gray;
}
.combo-box-base .arrow-button .arrow {
	-fx-background-color: -dark-gray;
}
/* WHILE OPEN */
.combo-box-base:showing {
	-fx-background-color: -light-gray;
}
.combo-box .combo-box-popup .list-view .list-cell {
	-fx-background-color: -super-light-gray;
}
.combo-box .combo-box-popup .list-view .list-cell:hover,
.combo-box .combo-box-popup .list-view .list-cell:selected {
	-fx-background-color: -tab-button-hover;
}



/***** GENERAL ******/
MenuBar{
    -fx-background-color: transparent;
}

/*HBox{
    -fx-background-color: -primary-color-light;
}*/

.general_light{
    -fx-background-color: -primary-color-light;
}

/***** CATEGORY BUTTONS *******/
CategoryButton.deselected{
    -fx-text-fill:  -primary-color-dark;
}

CategoryButton.selected{
    -fx-text-fill:  -highlight-color;
    -fx-border-color: transparent transparent -highlight-color transparent;
}

CategoryButton{
    -fx-background-color: transparent;
    -fx-pref-height: 30;
    -fx-padding: 0 10 0 10;
}

/****** COMPONENT BUTTON *****/
ComponentButton{
    -fx-background-color: transparent;
    -fx-pref-height: 50;
    -fx-padding: 0 10 0 10;
}

ComponentButton Label{
    -fx-text-fill:  -primary-color-dark;
}

/***** DRAWING AREA ******/
DrawingArea{
    -fx-background-color: GRAY;
}

DrawingCanvas{
    -fx-background-color: GRAY;
}


DrawingRegion{
    -fx-background-color: GRAY;
}


/******* TAB BUTTON ******/
TabButton.deselected{
    -fx-background-color: -light-gray;
    -fx-background-radius: 5 5 0 0;
}

TabButton.selected{
    -fx-background-color: -super-light-gray;
    -fx-background-radius: 5 5 0 0;
}

TabButton.deselected:hover{
    -fx-background-color: -tab-button-hover;
    -fx-background-radius: 5 5 0 0;
}

TabButton.selected:hover{
    -fx-background-color: -super-light-gray;
    -fx-background-radius: 5 5 0 0;
}

TabButton Label{
    -fx-alignment: center;
    -fx-text-fill:  -primary-color-dark;
}

TabButton Button{
    -fx-background-color: transparent;
}
TabButton Button:hover{
    -fx-background-color: transparent;
    -fx-text-fill:  -highlight-color;
}

/****** TAB PANE ********/
.addButton:hover{
    -fx-background-color: -light-gray;
    -fx-background-radius: 5 5 0 0;
}

.addButton{
    -fx-background-color: -super-light-gray;
    -fx-background-radius: 5 5 0 0;
}

.tab_pane{
    -fx-background-color: -primary-color-light;
    -fx-padding: 3 0 0 0;
}

.save-button {
    -fx-background-color:  -dark-gray;
    -fx-background-insets: 5 5 5 5;
	-fx-shape: "M2237,1481.5c55.3,0,100.1-44.8,100.1-100.1v-350.6h-225.3v350.6c0,55.3,44.8,100.1,100.1,100.1H2237z M1163.8,3136h1839c73.2,0,132.5-59.3,132.5-132.5V1415.4L2744.4,1032h-74v580H1496.2v-580h-332.4 c-73.2,0-132.5,59.3-132.5,132.5v1839C1031.3,3076.7,1090.6,3136,1163.8,3136z M1278,2031.8c0-41.9,34-76,76-76h1458.7 c41.9,0,76,34,76,76v891.8c0,42-34,76-76,76H1353.9c-41.9,0-76-34-76-76V2031.8z M1568.6,2285.6h1029.5c38,0,68.8-30.8,68.8-68.8c0-38-30.8-68.8-68.8-68.8H1568.6 c-38,0-68.8,30.8-68.8,68.8C1499.8,2254.8,1530.6,2285.6,1568.6,2285.6z M1568.6,2546.5h1029.5c38,0,68.8-30.8,68.8-68.8c0-38-30.8-68.8-68.8-68.8H1568.6 c-38,0-68.8,30.8-68.8,68.8C1499.8,2515.7,1530.6,2546.5,1568.6,2546.5z M1568.6,2807.5h1029.5c38,0,68.8-30.8,68.8-68.8l0,0c0-38-30.8-68.8-68.8-68.8H1568.6 c-38,0-68.8,30.8-68.8,68.8l0,0C1499.8,2776.7,1530.6,2807.5,1568.6,2807.5z"
}

.save-button:hover {
    -fx-background-color: -light-gray;
    -fx-background-insets: 5 5 5 5;
	-fx-shape: "M2237,1481.5c55.3,0,100.1-44.8,100.1-100.1v-350.6h-225.3v350.6c0,55.3,44.8,100.1,100.1,100.1H2237z M1163.8,3136h1839c73.2,0,132.5-59.3,132.5-132.5V1415.4L2744.4,1032h-74v580H1496.2v-580h-332.4 c-73.2,0-132.5,59.3-132.5,132.5v1839C1031.3,3076.7,1090.6,3136,1163.8,3136z M1278,2031.8c0-41.9,34-76,76-76h1458.7 c41.9,0,76,34,76,76v891.8c0,42-34,76-76,76H1353.9c-41.9,0-76-34-76-76V2031.8z M1568.6,2285.6h1029.5c38,0,68.8-30.8,68.8-68.8c0-38-30.8-68.8-68.8-68.8H1568.6 c-38,0-68.8,30.8-68.8,68.8C1499.8,2254.8,1530.6,2285.6,1568.6,2285.6z M1568.6,2546.5h1029.5c38,0,68.8-30.8,68.8-68.8c0-38-30.8-68.8-68.8-68.8H1568.6 c-38,0-68.8,30.8-68.8,68.8C1499.8,2515.7,1530.6,2546.5,1568.6,2546.5z M1568.6,2807.5h1029.5c38,0,68.8-30.8,68.8-68.8l0,0c0-38-30.8-68.8-68.8-68.8H1568.6 c-38,0-68.8,30.8-68.8,68.8l0,0C1499.8,2776.7,1530.6,2807.5,1568.6,2807.5z"
}

.undo-button {
    -fx-background-color:  -dark-gray;
    -fx-background-insets: 5 5 5 5;
    -fx-shape: "M30.65,107.44a2.75,2.75,0,0,1-1.78-.66L1.42,83a2.72,2.72,0,0,1-.94-2,2.68,2.68,0,0,1,.94-2.05L28.87,55a2.71,2.71,0,1,1,3.56,4.1L7.34,80.9l25.09,21.77a2.71,2.71,0,0,1-1.78,4.77Z M35,84.62H2.72c-1.5,0-2.72-.5-2.72-2s1.22-2,2.72-2H35c20.2,0,36.63-17,36.63-37.61S55,5.52,34.71,5.52a2.76,2.76,0,0,1,0-5.52A42.31,42.31,0,0,1,35,84.62Z";
}
.undo-button:hover {
    -fx-background-color: -light-gray;
    -fx-background-insets: 5 5 5 5;
    -fx-shape: "M30.65,107.44a2.75,2.75,0,0,1-1.78-.66L1.42,83a2.72,2.72,0,0,1-.94-2,2.68,2.68,0,0,1,.94-2.05L28.87,55a2.71,2.71,0,1,1,3.56,4.1L7.34,80.9l25.09,21.77a2.71,2.71,0,0,1-1.78,4.77Z M35,84.62H2.72c-1.5,0-2.72-.5-2.72-2s1.22-2,2.72-2H35c20.2,0,36.63-17,36.63-37.61S55,5.52,34.71,5.52a2.76,2.76,0,0,1,0-5.52A42.31,42.31,0,0,1,35,84.62Z";
}

.redo-button {
    -fx-background-color:  -dark-gray;
    -fx-background-insets: 5 5 5 5;
    -fx-shape: "M46.69,107.72A2.72,2.72,0,0,1,44.9,103L70,81.17,44.9,59.4a2.72,2.72,0,1,1,3.57-4.1L75.92,79.12a2.71,2.71,0,0,1,0,4.1L48.47,107.05A2.71,2.71,0,0,1,46.69,107.72Z M73.34,84.88h-31A42.22,42.22,0,0,1,0,42.56C0,19,18.83,0,42,0A2.82,2.82,0,0,1,44.7,2.84,2.77,2.77,0,0,1,42,5.62c-20.16,0-36.56,17-36.56,37.63,0,20.26,16.93,37.63,37,37.63h31c1.5,0,2.71.5,2.71,2S74.84,84.88,73.34,84.88Z";
}

.redo-button:hover {
    -fx-background-color: -light-gray;
    -fx-background-insets: 5 5 5 5;
    -fx-shape: "M46.69,107.72A2.72,2.72,0,0,1,44.9,103L70,81.17,44.9,59.4a2.72,2.72,0,1,1,3.57-4.1L75.92,79.12a2.71,2.71,0,0,1,0,4.1L48.47,107.05A2.71,2.71,0,0,1,46.69,107.72Z M73.34,84.88h-31A42.22,42.22,0,0,1,0,42.56C0,19,18.83,0,42,0A2.82,2.82,0,0,1,44.7,2.84,2.77,2.77,0,0,1,42,5.62c-20.16,0-36.56,17-36.56,37.63,0,20.26,16.93,37.63,37,37.63h31c1.5,0,2.71.5,2.71,2S74.84,84.88,73.34,84.88Z";
}
.info_button{
    -fx-background-color: #499c54;
    -fx-shape: "M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Zm-.27,40a5.5,5.5,0,0,1-2.51.88,1.78,1.78,0,0,1-1.36-.54,2.11,2.11,0,0,1-.5-1.49q0-3,3.66-14.92a3.22,3.22,0,0,0,.17-1c0-.32-.14-.49-.43-.49a2.19,2.19,0,0,0-1.12.39,28.31,28.31,0,0,0-2.77,2.5l-1.07-.83a19.08,19.08,0,0,1,4.45-3.83,7.36,7.36,0,0,1,3.42-1.13,1.83,1.83,0,0,1,1.2.34,1.13,1.13,0,0,1,.41.93,44.31,44.31,0,0,1-1.58,6q-2.58,8.67-2.58,10.45a1,1,0,0,0,.17.58.5.5,0,0,0,.37.23q.78,0,4-3l.95.93A31.78,31.78,0,0,1,24.73,40Zm5.73-27.16a2.26,2.26,0,0,1-1.68.82,1.65,1.65,0,0,1-1.22-.52,1.89,1.89,0,0,1-.49-1.34,2.67,2.67,0,0,1,.71-1.87,2.23,2.23,0,0,1,1.69-.77,1.67,1.67,0,0,1,1.24.5,1.76,1.76,0,0,1,.49,1.29A2.76,2.76,0,0,1,30.46,12.82Z"
}

.info_button:hover{
    -fx-background-color: #2a7931;
    -fx-shape: "M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Zm-.27,40a5.5,5.5,0,0,1-2.51.88,1.78,1.78,0,0,1-1.36-.54,2.11,2.11,0,0,1-.5-1.49q0-3,3.66-14.92a3.22,3.22,0,0,0,.17-1c0-.32-.14-.49-.43-.49a2.19,2.19,0,0,0-1.12.39,28.31,28.31,0,0,0-2.77,2.5l-1.07-.83a19.08,19.08,0,0,1,4.45-3.83,7.36,7.36,0,0,1,3.42-1.13,1.83,1.83,0,0,1,1.2.34,1.13,1.13,0,0,1,.41.93,44.31,44.31,0,0,1-1.58,6q-2.58,8.67-2.58,10.45a1,1,0,0,0,.17.58.5.5,0,0,0,.37.23q.78,0,4-3l.95.93A31.78,31.78,0,0,1,24.73,40Zm5.73-27.16a2.26,2.26,0,0,1-1.68.82,1.65,1.65,0,0,1-1.22-.52,1.89,1.89,0,0,1-.49-1.34,2.67,2.67,0,0,1,.71-1.87,2.23,2.23,0,0,1,1.69-.77,1.67,1.67,0,0,1,1.24.5,1.76,1.76,0,0,1,.49,1.29A2.76,2.76,0,0,1,30.46,12.82Z"
}

.dark_panel{
    -fx-background-color: rgba(0, 0, 0, .7); // transparent white
}

.component_info TreeView{
     -fx-base: #cccccc ;
     -fx-focus-color: #cccccc;
     -fx-faint-focus-color: transparent;
}

.component_info TreeView .tree-cell{
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #333333;
}
.component_info TreeView .tree-cell:selected{
    -fx-font-weight: bold ;
    -fx-background-color:#cccccc;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: -dark-gray ;
}

.component_info Button{
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 5 5 0 0;
    -fx-text-fill: #333333;
}

.component_info Button:hover{
    -fx-background-color: #cccccc;
}

/****** COMPONENT MENU ******/
.simulation_button Button{
    -fx-pref-height: 70px;
    -fx-pref-width: 90px;
    -fx-background-color: -super-light-gray;
    -fx-background-radius : 5;
    -fx-border-radius:5;
    -fx-border-width: 2;
    -fx-border-color: -primary-color-light;
    -fx-text-fill: -dark-gray;
}

.simulation_button{
    -fx-padding : 0 0 0 10;
}

.component_menu {
    -fx-pref-height: 100px;
}

.component_box{
    -fx-pref-height: 70px;
    -fx-padding: 0 0 0 10;
}

.simulation_menu{
    -fx-pref-height: 100px;
    -fx-background-color: -super-light-gray;
}


.title_label{
    -fx-font-size: 18px;
    -fx-font-weight: 400;
    -fx-text-fill: -dark-gray;
}

.text_label{
    -fx-font-size: 14px;
    -fx-font-weight: 300;
    -fx-text-fill: -dark-gray;
}

.cancel_button{
    -fx-text-fill: -dark-gray;
    -fx-background-color: -super-light-gray;
    -fx-border-color: -light-gray;
    -fx-border-radius: 5;
    -fx-pref-width:80;
    -fx-background-radius:5;
}

.cancel_button:hover{
    -fx-background-color: -light-gray;
}

.confirm_button{
    -fx-text-fill: -super-light-gray;
    -fx-background-color: -highlight-color;
    -fx-pref-width:80;
    -fx-background-radius:5;
}

.confirm_button:hover{
    -fx-background-color: -light-gray;
}

.simulation_menu_panel{
    -fx-border-color: -primary-color-light;
    -fx-border-radius: 5;
}
.simulate_button{
    -fx-pref-height: 35px;
    -fx-pref-width: 90px;
    -fx-background-color: -super-light-gray;
    -fx-background-radius : 5;
    -fx-border-radius:5;
    -fx-border-width: 2;
    -fx-border-color: #FFA9A9;
    -fx-text-fill: #FFA9A9;
}

.general_textfield{
    -fx-background-color: -primary-color-light;
    -fx-background-radius: 5;
}

.invalid{
    -fx-background-color: #EEB6B6;
}

.changed{
    -fx-background-color:  #C7EEB6;
}
