Button{
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: #BBBBBB;
    -fx-background-insets: 0;
    -fx-text-fill:#666666;
}

Button:hover{
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: #D9D9D9;
    -fx-background-insets: 0;
    -fx-text-fill:#8F8F8F
}

HBox{
    -fx-spacing: 10;
    -fx-padding: 0 10 0 10;
    -fx-background-color: #F2F2F2;
    -fx-alignment:BASELINE_CENTER;
}
